* {
    padding: 0px;
    margin: 0px;
}

$bgColor1: green;
$bgColor2: blue;
$bgColor3: skyblue;
$bgColor4: black;
$bgColor5: grey;

.main-div{
    border: 1px solid black;
    background-color: $bgColor1;

    nav {
        border: 1px solid black;
        background-color: $bgColor2;
    
        .nav-logo-nav {
            border: 10px solid black;
            background-color: $bgColor3;

    
            .logo {
                border: 20px solid black;
                background-color: $bgColor4;
                height: 4px;
                width: 2px;

            }
        }
    
        .nav-btn-div {
            border: 1px solid black;
            background-color: $bgColor5;

            
            .nav-btn {
                border: 1px solid black;
                background-color: $bgColor4;

            }
        }
    }
}
